ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    font-family: "Inter", sans-serif;
}
p{   
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

}
h1,h2,h3,h4,h5,h6{
    font-family: "Merriweather", serif;
}

header {
    padding: 20px 0;
    background: #9DCAE7;
}

header .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .main-header .logo {}

header .main-header .logo a {
    display: block;
}

header .main-header .logo a img {}

header .main-header .menu {}

header .main-header .menu ul {}

header .main-header .menu ul li {
    display: inline-block;
}

header .main-header .menu ul li a {
    padding: 0 20px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    color: #000;
}

.banner-section {
    padding: 80px 0;
    background: #9DCAE7;
}

.banner-section .banner-card {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.banner-section .banner-card .banner-text {
    width: 80%;
}

.banner-section .banner-card .banner-text h1 {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0%;
}

.banner-section .banner-card .banner-text p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    width: 67%;
}

.banner-section .banner-card .banner-text a {
    background: #004272;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 15px 25px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.banner-section .banner-card .banner-image {}

.banner-section .banner-card .banner-image img {
    width: 100%;
}
.we-are {
    padding: 100px 0;
}

.we-are .banner-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.we-are .banner-card .banner-image {}

.we-are .banner-card .banner-image img {
    width: 100%;
}

.we-are .banner-card .banner-text {
    width: 60%;
}

.we-are .banner-card .banner-text h2 {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
}

.we-are .banner-card .banner-text p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0%;
    color: #000;
}


.services-section {
    background: #F3EFE6;
    padding: 80px 0;
}

.services-section .services-title {
    text-align: center;
    margin: 0 0 50px;
}

.services-section .services-title h2 {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 0 20px;
}

.services-section .services-title p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}

.we-are .banner-card .banner-text a {
    background: #004272;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 15px 25px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.services-section .services-list {}

.services-section .services-list .accordion-item {
    margin: 0 0 10px;
}

.services-section .services-list .accordion-item h2 {}

.services-section .services-list .accordion-item h2 button {
    background: #004272;
    color: #fff;
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 23px;
    line-height: 100%;
    letter-spacing: 0%;
}

.services-section .services-list .accordion-item h2 button span {
    width: 58px;
    height: 58px;
    display: block;
    line-height: 58px;
    text-align: center;
    background: #fff;
    color: #000;
    border-radius: 100px;
    margin: 0 20px 0 0;
}
.services-section .services-list .accordion-item h2 button::after {
    display: none;
}

.Why-section {
    padding: 80px 0;
}

.Why-section .Why-title {
    text-align: center;
    margin: 0 0 70px;
}

.Why-section .Why-title h2 {
    font-family: 'Merriweather';
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}

.Why-section .Why-title p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}

.Why-section .Why-card {
    background: #F3EFE6;
    padding: 20px;
    margin: 0 0 20px;
}

.Why-section .Why-card h3 {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
}

.process-section {
    background: #F3EFE6;
    padding: 70px 0;
}

.process-section .process-title {}

.process-section .process-title h2 {
    font-family: 'Merriweather';
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}

.process-section .process-title p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}

.process-section .process-card {}

.process-section .process-card .process-box {}

.process-section .process-card .process-box span {
    display: block;
    background: #9DCAE7;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0%;
    line-height: 100px;
    font-family: 'Merriweather';
}

.process-section .process-card .process-box h3 {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

.process-section .process-card .process-box p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}

.process-section .process-title {
    text-align: center;
    margin: 0 0 70px;
}

.success-section {
    padding: 70px 0;
}

.success-section .success-card {
    text-align: center;
    background: #9DCAE7;
    padding: 60px 0;
}

.success-section .success-card .success-box {}

.success-section .success-card .success-box .success-img {
    margin: 0 0 20px;
}

.success-section .success-card .success-box .success-img img {}

.success-section .success-card .success-box h3 {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    color: #000;
}

.success-section .success-card .success-box p {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}
.client-section {
    padding: 70px 0;
}

.client-section .client-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.client-section .client-card .client-text {
    width: 90%;
    text-align: center;
}

.client-section .client-card .client-text h2 {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 0 20px;
}

.client-section .client-card .client-text p {font-family: 'Inter';font-weight: 400;font-size: 18px;line-height: 23px;letter-spacing: 0%;color: #000;}


.cta-section {padding: 70px 0;background: #004272;}

.cta-section .cta-card {
    text-align: center;
}

.cta-section .cta-card .cta-text {
    color: #fff;
}

.cta-section .cta-card .cta-text h2 {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 0 10px 0;
}

.cta-section .cta-card .cta-text p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
    margin: 0;
}

.cta-section .cta-card .cta-text a {
    background: #FFFFFF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 15px 25px;
    color: #004272;
    text-decoration: none;
    display: inline-block;
    margin: 30px 0 0;
}


footer {
    padding: 50px 0;
}

footer .footer-about a {
    display: block;
}

footer .footer-about a img {
    width: 130px;
    margin: 0 0 20px;
}

footer .footer-about  p {
    width: 60%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    margin: 0;
}

footer .footer-link {}

footer .footer-link h3 {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    margin: 0 0 10px;
}

footer .footer-link ul {}

footer .footer-link ul li {
    margin: 0 0 9px 0;
}

footer .footer-link ul li a {
    color: #000;
    text-decoration: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    display: inline-block;
}

.copy-footer {
    padding: 20px 0;
    background: #004272;
}

.copy-footer .copy-footer-text {}

.copy-footer .copy-footer-text p {
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    color: #fff;
}
.copy-footer .copy-footer-text p  a{
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    color: #fff;
}
.copy-footer .copy-footer-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}